.NavBar {
  flex: 1 0 250px;
  max-width: 250px;
  box-shadow: 0 3px 5px 3px rgba(64, 60, 67, .16);
  margin-right: 15px;
  background-color: #f4f4f4;

  &__inner {
    padding: 10px;
    padding-left: 20px;
  }
}