.Contacts {
  margin-top: 20px;

  &__label {
    font-size: 14px;
    color: #929292;
    margin-bottom: 5px;
  }

  &__list {
    display: flex;
  }
}

.Contact {
  margin-right: 15px;

  &__link {
    text-decoration: none;
    transition: all 0.2s;
    font-weight: bold;
    text-transform: capitalize;

    &:hover {
      color: #61dbfb;
    }
  }
}