.ProfileStatus {
  display: flex;
  flex-direction: column;
  &__text {
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
  }

  &__input {
    height: 30px;
    //box-shadow: 0 3px 5px 3px rgba(64, 60, 67, .16);
    border: 1px solid rgba(64, 60, 67, .3);
    overflow: hidden;
    border-radius: 3px;

    input {
      height: 100%;
      width: 100%;
      border: 0;
      color: #8f8f8f;
      padding: 0;
      padding-left: 5px;
      border-radius: 3px;
    }
  }
}
