.ProfileInfoList {
  &__item {
    margin-top: 25px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }

  &__item-label {
    font-size: 14px;
    color: #929292;
    margin-bottom: 5px;
  }

  &__item-text {
    font-size: 16px;
  }
}