.ProfileInfo {
  display: flex;
  padding: 30px 0;

  &__ava {
    margin-right: 30px;
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.ProfileInfoEdit {
  margin-top: 30px;
}