.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100% - 100px);
  max-width: 1280px;
  min-height: 100vh;
}

.Content {
  display: flex;
  background-color: #a1f2ff;
  flex: 1 0 auto;
}

.Header {
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #ebb3ff;
}

.NavBar {
  flex: 0 0 20%;
  background-color: #f8ac72;
}

.Profile {
  flex: 0 0 80%;
  background-color: #b3fa8b;
}

.Footer {
  grid-area: footer;
  padding-top: 30px;
  padding-bottom: 30px;
  flex: 0 1 auto;
  background-color: #ff6464;
  text-align: center;
}