.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100% - 100px);
  max-width: 1280px;
  min-height: 100vh;
}

.Content {
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 15px;
}