.FormField {
  &.error {
    input,
    textarea {
      border: 1px solid red;
    }

    span {
      color: red;
    }
  }
}

.FormSummaryError {
  border: 1px solid red;
  padding: 5px;
  color: red;
  max-width: max-content;
}